[submodule "vimfiles/autoload/pathogen"]
	path = vimfiles/autoload/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/indent-guides"]
	path = vimfiles/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = git://github.com/beingryu/tabular.git
[submodule "vimfiles/bundle/mustang"]
	path = vimfiles/bundle/mustang
	url = git://github.com/croaker/mustang-vim.git
[submodule "vimfiles/bundle/colors"]
	path = vimfiles/bundle/colors
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "vimfiles/bundle/vim-addon-local-vimrc"]
	path = vimfiles/bundle/vim-addon-local-vimrc
	url = git://github.com/MarcWeber/vim-addon-local-vimrc.git
